<html>
<head>
<link rel="stylesheet" href='/static/style.css' />
</head>
<body>
<h1 id="xx">Hello {{ name }}! </h1>
</body>

<script>

var request = new XMLHttpRequest()

const varr = document.getElementById('xx')

request.open('GET', 'http://localhost:5000/sensordata', true)
request.onload = function() {
  // Begin accessing JSON data here
  var data = JSON.parse(this.response)

  if (request.status >= 200 && request.status < 400) {
       varr.append(JSON.stringify(data))
  } else {
    console.log('error')
  }
}

request.send()

</script>


</html>
